---
---
//@import "";
$brand-color:      #175e17 !important;
//@import "main";
:root{ 
    --bg_color: #f0fff0;
    --txt_color: #2f4f4f;
    --dark_color: #0e740e;
    --complementary_color: #ffa4a4;
    --accent_color: #629962;
;
}
body{
    background-color: var(--bg_color) ;
    color: var(--txt_color);
}

pre, code { font-size: 15px; border: 1px solid var(--dark_color); border-radius: 3px; background-color: #00000000; }
.highlighter-rouge .highlight { background: #02020210; }

.dataframe thead th {
    text-align: right;
    position: sticky;
    top: 0;
}
tr >th{
    position: sticky;
    left: 0;
}

.df_container{
    height: 65vh;
    overflow-y: auto;
    
}
.df_container > table >thead{
    position: sticky;
}
.map_container{
   box-sizing: border-box;
   display: inline-block;
   //width: 100%;
    //height: 100%; 
   width: 100%; 
  // padding: 50px;
   // overflow-y: auto;
   background: #ffffff38;
}
.mpld3-figure{
    box-sizing: border-box;
    //height: 60vh; 
    //padding: 5px;
}

.content { display: none; }
.preview_link:hover ~ .content{ display: block; 
                                position:relative; 
                                /* max-width: calc(100% / 1.5); */
                                // Try to position absolute so the links dont dance around 
                            }
.c_preview:hover  .date{ display: none; }            

.c_preview:hover .content{ display: block; 
                             position: relative; 
                             /* max-width: calc(100% / 1.5); */
                             
                            }

.c_preview:hover{
    padding: 1em;
    background: #0000000c;
    display: flex;
    align-content: center;
    
}
.c_preview{
    display: flex;
    flex-direction: column;
    transition-delay: 0.1s;
    border-radius: 1em;;
}
.back_button{
    position: fixed;
    left:2em;
    top:5em;
    height: 3em;
    width: 3em;
    background: #0000000a;
    padding: 1em;
    border-radius: 2em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.bs-callout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    margin: 0.2em;
    border: 2px solid;
    border-radius: 1em;
}

.bs-callout-tip{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
//.bs-callout-tip >span:nth-child(1)::after{
//    padding: auto;
//    content: url(/assets/img/svg/check-square.svg)
//}

.bs-callout-note{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}


.bs-callout-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
//.bs-callout-danger >span:nth-child(1)::after{
//    padding: auto;
//    content: url(/assets/img/svg/exclamation-circle.svg)
//}
.bs-callout-warning{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
/*
.site-title::before{
    position: fixed;
    top: 1em;
    left: 1em;
    padding: auto;
    content: url(/assets/img/svg/dice-d6.svg)
}
*/

.lang_change{
    padding: 1em;
    background: var(--bg_color);
    color: var(--accent_color);
    box-shadow: 1px 1px 1px 1px var(--txt_color);
    border-radius: 0.5em;
    cursor: pointer;

}
.icon_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.icon_container > div{
    padding: 1em 2em;
}
.icon_container > div:hover{
    display: inline-block;
    transform: scale(1.5);
    //box-shadow: 0 0 100px #000 ;
}

table {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    color: var(--txt_color);
    border-collapse: collapse;
    border: 1px solid var(--accent_color);
}
table tr:nth-child(even) {
    background-color: #00000015;
}
table th {
    filter:grayscale(100%);
    background-color: var(--bg_color);
    border: 1px solid var(--dark_color);
    border-bottom-color: var(--complementary_color);
}
table td {
    border: 1px solid var(--accent_color);
}

a {
    color: var(--accent_color) !important;
    text-decoration: none;
}
a:visited {
    filter: brightness(85%);
    color: var(--accent_color);
}
a:hover {
    filter: brightness(60%);
    color: var(--accent_color) !important;
    text-decoration: underline;
}
.social-media-list a:hover {
    text-decoration: none;
}
.social-media-list a:hover .username {
    text-decoration: underline;
}

.site-header{
    color:var(--accent_color);
}
.site-nav {
    background-color: var(--bg_color);
}